.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-title a {
  text-decoration: none;
  color: black;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture-container {
  position: relative;
}

.channel-tooltip {
  position: absolute;
  bottom: -70px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0,0,0, 0.15);
  border-radius: 4px;
  display: flex;
  white-space: nowrap;
  padding: 10px;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}

.channel-picture-container:hover .channel-tooltip {
  opacity: 1;
}

.channel-tooltip-text {
  display: flex;
  flex-direction: column;
}

.tooltip-name {
  font-family: Roboto, Arial;
  font-weight: 700;
  font-size: 14px;
}

.tooltip-sub-count {
  font-family: Roboto, Arial;
  font-size: 12px;
  color: rgb(96, 96, 96)
}

.tooltip-profile-picture {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8x;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-author a {
  font-size: 12px;
  color: rgb(96, 96, 96);
  text-decoration: none;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  align-items: top;
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}